/*General Styles*/

body {
  font-size: 62.5%;
  /* font-family: "Montserrat"; */
  font-family: 'Exo 2', sans-serif;
  color: #333333;
  width: 80%;
  margin: 0 auto;
  line-height: 1.37;
}

a {
  color: #333333;
  text-decoration: none;
}

a:visited {
  color: #4e4e4e;
}

a:hover {
  color: #4e4e4e;
  text-decoration: underline;
}

.fa {
  font-size: 2em;
}

.left {
  font-size: 1em;
}

.main {
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0;
}

h4 {
  color: #4e4e4e;
  font-size: 1.5em;
  margin-top: 0;
}

p {
  font-family: "Libre Baskerville";
  font-size: 1.5em;
}

li {
  font-family: "Libre Baskerville";
  font-size: 1.5em;
}

.skill {
  background-color: #333333;
  color: #fff;
  padding: 6px;
  font-size: 1.2em;
  margin-bottom: 5px;
  display: inline-block;
}

.lightBG {
  background-color: #888;
}


/* Download Link

.download {
  margin-top: 1rem;
  text-align: right;
}

.download a {
  color: #fff;
  text-transform: uppercase;
}

.download:hover {
  cursor: pointer;
} */


/*Header/Contact Info*/

.intro {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

div#profiles {
  text-align: center;
}

.profile {
  font-family: Montserrat;
  font-size: 1em;
  margin: 0;
}

.link-text,
.profile-link-text {
  display: none;
}

.project-links span {
  background-color: blue;
}

.profile {
  display: inline;
  font-size: 20px;
}

.contact-intro {
  font-weight: bold;
}

.contact-intro.title {
  text-decoration: underline;
  font-size: 200%;
}

.label {
  margin-top: 0;
  margin-bottom: 1em;
}


/*Projects*/

.links {
  list-style-type: none;
  text-align: center;
}

.links h3 {
  padding: 1rem;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.projects {
  width: 48%;
  height: 25rem;
  border: 1px solid #333;
  float: left;
}

.project-container {
  padding: 1rem;
}

hr {
  width: 60%;
  text-align: left;
}


/*Skills*/

.skills {
  margin-bottom: 10px;
}

.hard-skills.skill {
  background-color: yellow;
  color: black;
}


/*Responsive Styles*/

.responsive-show {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header {
      font-size: 1.66em;
  }
  h2 {
      font-size: 3em;
  }
  .projects {
      height: 33rem;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
      width: 98%;
      height: 25rem;
      border: 1px solid #333;
      float: left;
  }
}

@media only screen and (max-width: 480px) {
  p {
      font-size: 1.2em;
  }
  li {
      font-size: 1.2em;
  }
  blockquote {
      font-size: 1.2em;
      font-family: "Libre Baskerville", serif;
  }
  h2 {
      font-size: 2.3em;
  }
  .responsive-hidden {
      display: none;
      visibility: hidden;
  }
  .responsive-show {
      display: inline;
      visibility: visible;
  }
  .projects {
      height: 30rem;
  }
}


/*Print Styles*/

@media only print {
  body {
      width: 95%;
      font-size: 30%;
  }
  .skill {
      color: #333;
  }
  .intro {
      margin-bottom: 1rem;
  }
  .intro h1,
  .intro .label {
      font-size: 90%;
  }
  #contact {
      display: inline-block;
  }
  #profiles {
      margin-top: 1rem;
      margin-bottom: -1rem;
  }

  .profile-links,
  .project-links {
      display: none;
  }
  .profile-link-text,
  .link-text {
      display: block;
  }
  .link-text {
      font-size: 90%;
      margin-bottom: 1rem;
  }
  #about,
  #work {
      padding: 0.5rem;
  }
  h2 {
      font-size: 1rem;
  }
  h4 {
      font-size: 0.5rem;
  }
  .projects {
      width: 95%;
      margin: 0 auto;
      height: 12rem;
      border: none;
  }
  .project-container {
      padding: 0.5rem;
  }
}
